@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Displaying Content of the Script</h1>
    @ViewData["blob_content"];
</div>
